{% include 'header.html' %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/assets/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Good work environment <b>=</b> Good work</span>
                                    <span class="section-heading-lower">About Our Page</span>
                                </h2>
                                <p>Our website aggregates peoples favourite London's Cafes, with good working environment.
                                    We gather info about some basic features of each Cafe, like availability:
                                    <ul style="line-height:200%">
                                        <li>of power outlets</li>
                                            <i class="fas fa-bolt mx-3" style="color:black" aria-hidden="true"></i><b>/</b>
                                            <i class="fas fa-bolt mx-3" style="color:#8C001A" aria-hidden="true"></i>
                                        <li>of WiFi</li>
                                            <i class="fas fa-wifi mx-3" style="color:black" aria-hidden="true"></i><b>/</b>
                                            <i class="fas fa-wifi mx-3" style="color:#8C001A" aria-hidden="true"></i><br>
                                        <li>of toilets</li>
                                            <i class="fas fa-toilet-paper mx-3" style="color:black" aria-hidden="true"></i><b>/</b>
                                            <i class="fas fa-toilet-paper mx-3" style="color:#8C001A" aria-hidden="true"></i>
                                        <li>to make business calls</li>
                                            <i class="fas fa-phone mx-3" style="color:black" aria-hidden="true"></i><b>/</b>
                                            <i class="fas fa-phone mx-3" style="color:#8C001A" aria-hidden="true"></i>
                                    </ul><br>
                                If you want to add a new Cafe to our database, please feel free to register. As our verified user
                                you can help, make remote workers community grow!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% include 'footer.html' %}
