{% include 'header.html' %}
<!-- Filters form -->
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded" id="filters-bar">
                    <h4 class="section-heading mb-0">
                        <b>FILTERS:</b>
                        <form method="post" class="navbar-nav mx-auto nav-link text-uppercase">
                            {{ form.hidden_tag() }}
                            {{ form.choices(size=100)}}
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dark alert-position-custom" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% for cafe in cafes %}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                {% set bottom_side = "product-item-description d-flex ms-auto" %}
                {% if cafe.id % 2 == 0 %}
                {% set top_side = "bg-faded p-5 d-flex ms-auto rounded" %}
                {% else %}
                {% set top_side = "bg-faded p-5 d-flex me-auto rounded" %}
                {% endif %}
                <div class="{{ top_side }}">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{ cafe.location }}</span>
                        <span class="section-heading-lower">{{ cafe.name }}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ cafe.img_url }}"
                 alt="Cafe photo" width="800" height="800"/>
            <div class="{{ bottom_side }}">
                <div class="bg-faded p-5 rounded">
                    <h5>Features:</h5>
                    <br>
                    {% set socket_color = black %}
                    {% set toilet_color = black %}
                    {% set wifi_color = black %}
                    {% set call_color = black %}
                    {% if cafe.has_sockets == False %}
                    {% set socket_color = "red" %}
                    {% endif %}
                    {% if cafe.has_toilet == False %}
                    {% set toilet_color = "#8C001A" %}
                    {% endif %}
                    {% if cafe.has_wifi == False %}
                    {% set wifi_color = "#8C001A" %}
                    {% endif %}
                    {% if cafe.can_take_calls == False %}
                    {% set call_color = "#8C001A" %}
                    {% endif %}
                    <h5>
                        <i class="fas fa-bolt mx-3" style="color:{{ socket_color }}" aria-hidden="true"></i>
                        <i class="fas fa-wifi mx-3" style="color:{{ wifi_color }}" aria-hidden="true"></i>
                        <i class="fas fa-toilet-paper mx-3" style="color:{{ toilet_color }}"
                           aria-hidden="true"></i>
                        <i class="fas fa-phone mx-3" style="color:{{ call_color }}" aria-hidden="true"></i>
                        {{ cafe.coffee_price }}
                        <i class="fas fa-solid fa-mug-saucer"></i>
                    </h5>
                    <hr>
                    <h5>Location:</h5>
                    <br>
                    <h5><a href="{{ cafe.map_url }}" style="color:black">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </a></h5>
                </div>

            </div>
        </div>
    </div>
</section>
{% endfor %}

{% include 'footer.html' %}
