{% include "header.html" %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/assets/img/products-01.jpg" alt="..."/>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee & Free WiFi</span>
                    <span class="section-heading-lower">Best place to work !</span>
                </h2>
                <p class="mb-3">On our site you can browse through various location throughout London, where you can
                work, drink coffee, make business calls and all of it with free WiFi.</p>
                <p>If you can't find your favourite Cafe in here, you can become a member of our community and
                share that location with everyone!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
                                                     href="{{ url_for('cafes')}}">Browse Our Cafes !</a></div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
