{% include 'header.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-3">
                        <span class="section-heading-lower">Register</span>
                    </h2>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form action="" method="post" class="form" role="form">
                        {{ form.csrf_token() }}

                    {{ wtf.form_field(form.email, class_="form-control") }}
                    <br>
                    {{ wtf.form_field(form.name, class_="form-control") }}
                    <br>
                    {{ wtf.form_field(form.password, class_="form-control") }}
                    <br>
                        <button type="submit" class="btn btn-secondary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
